{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJOUT</title>
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}">
  </head>
  <body>

    <div class="sign">

      <div class="sign-content">
        <h1>Ajouter un Étudiant</h1>
        
        <form method="POST">

          <div class="field">
            <label> {% csrf_token %}
                {{ form.as_p }}</label>
            <input>
          </div>
          <button   type="submit" id="sign-button"><a href="">Ajouter</a></button>
        </form>
        <a href="{% url 'etudiants'%}" class="forget-pwd">Retour</a>
      </div>

    </div>
    
  </body>
</html>